.swal2-container.swal2-backdrop-show, .swal2-container.swal2-noanimation {
    z-index: 11000;
  }
   .myWebApp table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: auto;
  }
  .myWebApp th {
    border: 1px solid #aacc;
    background-color: #aacc;
    text-align: left;
    padding: 8px;
  }
  .myWebApp td {
    border: 1px solid #aacc;
    text-align: left;
    padding: 8px;
  }
  
  .myWebApp tr:nth-child(odd) {
    background-color: #aacc;
  } 